.btn-primary{
	background-color: $button-primary-color;
	color:		  $button-text-color;
	border-color:	  $button-border-color;
	border-radius:	  $button-border-radius;	
	font-size:	  $button-font-size;
	font-family:      $font-family-montserrat;
	line-height:	  1.333;
	font-weight:	  500;
	letter-spacing:   2px;
	padding: 	  0.75rem 2.1874rem;
	box-shadow:	  none;	
}

.btn-primary:hover
.btn-primary:focus{
	background-color: button-primary-color-hover;
	border-color:	  button-border-color-hover;
}
