// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;


// Content start after
$set-margin-top :	50px;

// page without side bar set padding 0 to main class
$page-without-side-bar: 0px;

// Navigation
$navbar-background-color: #282828 !default;
$navbar-text-color:       #ffffff !default;
  
// Navbar brand logo
$navbar-brand-img-height: 2.125rem !default;

//Fonts
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-lora: 'Lora';


//Banner
$font-size-banner-h1:       4.39rem;
$font-weight-banner-h1:     600;
$font-size-banner-subtitle: 1.5rem;
$banner-text-color :        #ffffff;


//button primary color
$button-primary-color: 	    #c0a375;
$button-text-color: 	    #ffffff;
$button-border-color: 	    #c0a375;
$button-border-radius:	    3px;
$button-font-size:	    0.9687rem;
$button-padding:	    0.75rem 2.1874rem;	
 				
// button primary color hover
$button-primary-color-hover: 	    #a07e49;
$button-border-color-hover: 	    #a07e49;




