.home_page_banner{
	background-position: 50% 50%;
        background-repeat: no-repeat no-repeat; 
	background-image: url("https://mobirise.com/assets3/images/jumbotron-2000x1252-54.jpg"); 
	width: 100%; 
	height: 525px;
	background-size: cover;
	margin-top : $set-margin-top;

}

.main{
	padding : $page-without-side-bar;
}

.home_page_banner{
	h1.title{
		font-family: $font-family-montserrat;
		font-size: $font-size-banner-h1;
	        font-weight: $font-weight-banner-h1;
	        letter-spacing: -2px;
		overflow-wrap: break-word;
		color : $banner-text-color;
		padding-top: 120px;
	}
	.sub-title{
		font-family: $font-family-lora;
		font-style:  italic;
		font-size:   $font-size-banner-subtitle;
		color :      $banner-text-color;
	}
}


